<h1>Articles list:</h1>
  <% @articles.each do |article| %>
    <div>
      <h2><%= article.title %></h2>
      <%= link_to "Edit", edit_article_path(article) %>
      <%= link_to "Delete", article_path(article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <p><%= article.content %></p>
    </div>
  <% end %>

<%= link_to "Add article", new_article_path %>
